/* General Section */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
/* /General Section */


header {
    background-image: url(../img/jumbo.png);
    width: 100%;
    /* height: 500px; */
    background-size: cover;
}

nav {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 60px;
    line-height: 60px;
}

.float {
    float: left;
    height: 100%;
    max-width: 100%;
}

nav .float:first-child,
nav .float:last-child {
    width: 25%;
}

nav .float:nth-child(2) {
    width: 50%;
}

.logo {
    max-width: 100%;
    vertical-align: middle;
}

.nav-menu {
    list-style-type: none;
}

.nav-menu li {
    display: inline-block;
    margin-right: 1em;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar a:hover,
.navbar a:active,
.navbar a:focus {
    text-decoration: underline;
}

.nav-menu li:last-child {
    margin-right: 0;
}

a.btn {
    display: inline-block;
    background-color: white;
    border-radius: 2em;
    padding: 1px 14px;
    line-height: 2em;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

a.btn:hover {
    color: #265ee8;
}

/* jumbo */
.jumbo-text {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 10em 0;
    color: white;
}

.jumbo-title {
    margin-bottom: 1.1em;
}

.jumbo-desc {
    line-height: 1.7em;
    margin-bottom: 1.1em;
}

a.btn.big{
    padding: 7px 23px;
}

a.btn.dark{
    background-color: #23272a;
    color: white;
}


a.btn.dark:hover,
a.btn.dark:active,
a.btn.dark:focus {
    color: #265ee8;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.section-img {
    width: 60%;
    padding-left: 10em;
}

.second-section-img {
    width: 60%;
    padding-left: 0;
    padding-right: 10em;
}

.section-text {
    width: 40%;
    padding-right: 10em;
}

.second-section-text {
    width: 40%;
    padding-right: 0;
    padding-left: 10em;
    text-align: right;
}

.img-text {
    width: 100%;
}

.img-text-second-section {
    width: 100%;
    margin: 0 0 0 4.5em;
}

.title {
    margin-top: 0.5em;
    padding-bottom: 1em;
}

.text {
    font-size: small;
}

.container {
    margin-top: 10em;
}

.fourth-section {
    text-align: center;
    width: 80%;
    margin: 10em auto 6em;
}

.star {
    background-image: url(../img/stars.svg);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
}

.background-star {
    padding: 1.4em;
}

.fourth-section .btn a{
    background-color: lightblue;
    color: white;
    margin-top: 2em;
}

.fourth-section .btn a:hover,
.fourth-section .btn a:focus,
.fourth-section .btn a:active {
    color: blue;
}

footer {
    background-color: black;
    color: white;
    height: 5em;
}

.footer-section {
    width: 80%;
    margin: auto;
    height: 5em;
    background-color: tomato;
}

.flag-ita {
    width: 1.2em;
}

.social-menu li {
    display: inline-block;
    margin-right: 1em;
}

.social-menu li a{
    color: white;
}